extends base
- load staticfiles
- load timer_tags
- load slave_tags

- block include
script(type="text/javascript", src="{% static 'js/raphael.2.1.0.min.js' %}")
link(rel='stylesheet', href='http://cdn.oesmith.co.uk/morris-0.4.3.min.css')
script(type="text/javascript", src='http://cdn.oesmith.co.uk/morris-0.4.3.min.js')
- endblock

- block content

.container
	.row
		.col-sm-3
			- show_slave_dashboard
		.col-sm-9
			.well
				center
					img(src="{% static 'img/no-img.png' %}", width="140", height="140", class="img-circle")
					br
					span.lead {{ slave.get_full_name }}
				hr
				p
					| Effektive timer idag:
					span.pull-right.text-success {{ effektive_timer }}
				p
					| Totale timer idag:
					span.pull-right.text-warning {{ totale_timer_idag }}
				p
					| Totale timer på sal
					span.pull-right.text-info {{ totale_timer }}

			ul.nav.nav-tabs(style="margin-bottom: 15px;")
				li.active
					a(href="#aktivitet", data-toggle="tab") Aktivitet
				li
					a#stats(href="#statistikk", data-toggle="tab") Statistikk
			div.tab-content
				div#aktivitet.tab-pane.fade.active.in
					- list_activities feed
				div#statistikk.tab-pane.fade
					div#thechart(style="height: 250px;")

script(type="text/javascript").
	$(function () {
		$('#stats').on('shown.bs.tab', function(e) {
			show_morris();
		});
	});
	function show_morris() {
		if (typeof window.mychart == 'undefined') {
			window.mychart = new Morris.Line({
				element: 'thechart',
				data: [
					{% for k, v in data.items %}
						{ date: '{{ k|safe }}', effektive_timer: '{{ v.effektive_timer }}', ineffektive_timer: '{{ v.ineffektive_timer }}', totale_timer: '{{ v.totale_timer }}' }{% if not forloop.last %},{% endif %}
					{% endfor %}
					],
				xkey: 'date',
				xLabels: ['day'],
				ykeys: ['effektive_timer', 'ineffektive_timer', 'totale_timer'],
				labels: ['Effektive timer', 'Ineffektive timer', 'Totale timer'],
				resize: true,
			});
		}
	}
- endblock