div.list-group
	for activity in activities
		div.list-group-item#content
			.row
				.col-sm-12
					blockquote
						a(href="{% url 'slave' activity.workday.slave.pk %}") {{ activity.desc|safe }}
						span.text-muted.pull-right
							i.fa.fa-fw.fa-clock-o
							| {{ activity.time|timesince}} ago