if feed
	div.list-group
		for item in feed
			.content.list-group-item
				.row
					.col-sm-12
						blockquote
							if item.sticky
								p.text-warning {{ item.desc|safe }}
							else
								a(href="{% url 'slave' item.slave.pk %}") {{ item.desc|safe }}
							span.text-muted.pull-right
								i.fa.fa-fw.fa-clock-o
								| {{ item.created|timesince}} ago