if feed
	div.list-group
		for item in feed
			div.list-group-item#content
				.row
					.col-sm-12
						blockquote
							a(href="{% url 'slave' item.slave.pk %}") {{ item.desc|safe }}
							span.text-muted.pull-right
								i.fa.fa-fw.fa-clock-o
								| {{ item.created|timesince}} ago