extends base
- load staticfiles
- load timer_tags
- load slave_tags
- block content


.container
	.row
		.col-sm-3
			- show_slave_dashboard
		.col-sm-9
			.row
				.col-sm-4
					.panel.panel-default
						.panel-heading
							h3.panel-title.text-center Totaltoppen
						.panel-body
							for slave, timer in totaltopp
								if forloop.counter > 3
									p.jobb-result.hidden(style='display: none;')
										| {{ slave.get_full_name }}
										span.pull-right.text-success {{ timer }}
								else
									p 
										| {{ slave.get_full_name }}
										span.pull-right.text-success {{ timer }}

				.col-sm-4
					.panel.panel-default
						.panel-heading
							h3.panel-title.text-center Jobbetoppen
						.panel-body
							for slave, timer in effektivtopp
								if forloop.counter > 3
									p.jobb-result.hidden(style='display: none;')
										| {{ slave.get_full_name }}
										span.pull-right.text-success {{ timer }}
								else
									p 
										| {{ slave.get_full_name }}
										span.pull-right.text-success {{ timer }}
										
				.col-sm-4
					.panel.panel-default
						.panel-heading
							h3.panel-title.text-center Pausetoppen
						.panel-body
							for slave, timer in pausetopp
								if forloop.counter > 3
									p.jobb-result.hidden(style='display: none;')
										| {{ slave.get_full_name }}
										span.pull-right.text-success {{ timer }}
								else
									p 
										| {{ slave.get_full_name }}
										span.pull-right.text-success {{ timer }}
			hr
			.row
				.col-sm-4
					.panel.panel-default
						.panel-heading
							h3.panel-title.text-center Totalbunn
						.panel-body
							for slave, timer in totalbunn
								if forloop.counter > 3
									p.jobb-result.hidden(style='display: none;')
										| {{ slave.get_full_name }}
										span.pull-right.text-success {{ timer }}
								else
									p 
										| {{ slave.get_full_name }}
										span.pull-right.text-success {{ timer }}

				.col-sm-4
					.panel.panel-default
						.panel-heading
							h3.panel-title.text-center Jobbebunn
						.panel-body
							for slave, timer in effektivbunn
								if forloop.counter > 3
									p.jobb-result.hidden(style='display: none;')
										| {{ slave.get_full_name }}
										span.pull-right.text-success {{ timer }}
								else
									p 
										| {{ slave.get_full_name }}
										span.pull-right.text-success {{ timer }}
				.col-sm-4
					.panel.panel-default
						.panel-heading
							h3.panel-title.text-center 
								a(onclick="toggle_text();") Pausebunn
						.panel-body
							for slave, timer in pausebunn
								if forloop.counter > 3
									p.jobb-result.hidden(style='display: none;')
										| {{ slave.get_full_name }}
										span.pull-right.text-success {{ timer }}
								else
									p 
										| {{ slave.get_full_name }}
										span.pull-right.text-success {{ timer }}



- endblock
- block footer
script(type="text/javascript").
	function toggle_text() {
		console.log(this);
	}

- endblock