extends base

- block content

.container
	.row
		.col-sm-6.col-sm-offset-3
			.panel.panel-default
				.panel-heading
					h3.text-heading VEDLIKEHOLD
				.panel-body
					span Må fikse noe...
				
- endblock